@charset "utf-8"; 
/* @charset "utf-8"을 넣지 않으면 seo 낮은 점수 */
@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu:ital,wght@1,300&display=swap');
/* css는 css끼리! */
/* font-family: 'Shizuru', cursive;
font-family: 'Do Hyeon', sans-serif; */

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #A49393;
}

/* header.header */
.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* height: 70px; */
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.header .logo{
    position: absolute; 
    /* normal-flow에 영향을 받지 않은 상태가 되었다. 그래서 크기를 키우면 해더영역을 넘어간다. */
    left: 40px;
    width: 40px;
}
.header .list-menu{
    display: flex;

}
.header .list-menu li{
    margin-left: 20px;
}

.header .cont-mode{
    position: relative;
    font-size: 15px;
    background-color: #F9F1F0;
    padding: 5px;
    border-radius: 30px;
    margin-left: 20px;
    width: 80px;
}
/* display속성을 쓰면 트렌지션 효가가 적용되지 않을 때가 있다. */

.header .btn-mode{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: orange; */
    border: none;
    font-size: 18px;
    border-radius: 20px;
    /* 원래 요소에 시간 넣기 */
    transition: transform 0.2s;
    /* transition: all 0.2s */
}

.header .btn-mode:hover{
    transform: translateX(25px);
    background-color: gray;
}