
.sec-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-family: 'Ultra', serif;
  font-family: 'Do Hyeon', sans-serif;
}
.sec-contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sec-contact fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  padding: 30px;
}
/* li -> div */
.sec-contact fieldset div{
  margin-bottom: 2rem;
  border-bottom: #D98BA7 solid 0.5px;
}
.sec-contact fieldset input{
  margin-top: 10px;
  font-family: 'Do Hyeon', sans-serif;
}
.sec-contact fieldset label + input{
  display: block;
  background: none;
  border: none; 
  width: 100%;
}
.sec-contact div:nth-child(3){
  border: none;
}
.sec-contact fieldset textarea{
  display: block;
  width: 100%;
  height: 5rem;
  margin-top: 10px;
  padding: 5px;
  border: #D98BA7 solid 0.5px;
  background: none;
  font-family: 'Do Hyeon', sans-serif;
}
.sec-contact fieldset input:focus {
  outline:none;
}
.sec-contact fieldset input::placeholder,
.sec-contact fieldset textarea::placeholder {
  color: #cab9bf;
}
.sec-contact fieldset textarea,
.sec-contact fieldset input{
  color: whitesmoke;
  resize: none;
}
.thankyou_message{
  font-family: inherit;
  color: #D98BA7;
  border: none;
}
.btn-send{
  border: none;
  padding: 10px;
  background-color: #D98BA7;
  font-family: inherit;
  cursor: pointer;
}
.btn-send:hover{
  transform : scale(0.9);
}
.thankyou_message{
  margin-top: 32px;
  text-align: center;
}