@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* 첫번째 페이지 */
#sec-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
}
#sec-main .intro-txt{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Ultra', serif;
}
#sec-main .intro-txt h2{
    font-size: 2rem;
}

/* btn, sns */
.btn-down-resume{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-down-resume:focus{
    outline: none;
}
.btn-down-resume:hover{
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.6);
}
.btn-down-resume::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #D98BA7;
    transition: all .5s;
    z-index: -1;
}
.btn-down-resume:hover:before{
    transform: translateY(-100%);
}
/* sns */
.intro-deco .list-sns{
    margin-top: 30px;
}
.intro-deco .list-sns li{
    display: inline-block;
    margin: 0 10px;
}
.intro-deco .list-sns img{
    width: 50px;
    height: 50px;
}

/* codebox */
.intro-deco{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-circle {
    padding: 10px;
    border-radius: 15px 15px 0 0;
    background-color: rgb(54, 54, 54);
}
.box-circle li{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.box-circle li:nth-child(2){
    background-color: yellow;
}
.box-circle li:nth-child(3){
    background-color: green;
}
/* code box */

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 115px;
    }
}

  /* The typewriter cursor effect */
@keyframes cursor-blink {
    from,to {
        border-color: transparent;
    }
    50% {
        border-color: orangered;
    }
    }

.intro-deco .cont-codebox{
    position: relative;
    width: 80%;
    /* height: 60%; */
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.intro-deco .cont-codebox div{
    padding: calc((412.8px - 42.4px - 230px) / 2  - 20px) 20px;
    box-sizing: border-box;
    color: rgb(218, 236, 191);
    font-size: 18px;
    font-family: 'VT323', monospace;
    /* font-family: 'Ubuntu Mono', monospace; */
}
.cont-codebox div p{
    margin: 10px 0;
    letter-spacing: 0.15em;
}

.cont-codebox #typing {
    display: inline-block;
    color: rgb(112, 229, 250);
    overflow: hidden;
    border-right: 0.15em solid orangered;
    white-space: nowrap;
    animation: typing 7.5s steps(30, end) infinite, cursor-blink 0.75s step-end infinite;
  }
.box-color{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: black;
}
.box-color li{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 8px;
}
.box-color li:nth-child(1){
    background-color: #b67191;
}
.box-color li:nth-child(2){
    background-color: #D98BA7;
}
.box-color li:nth-child(3){
    background-color: #BDEDF2;
}
.box-color li:nth-child(4){
    background-color: goldenrod;
}

@media screen and (min-width: 426px){

}

@media screen and (min-width: 769px){
}
