.sec-aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    font-family: 'Do Hyeon', sans-serif;
}
.sec-aboutMe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-aboutMe h3{
    margin: 100px 0;
    font-weight: 600;
    font-size: 36px;
}
.sec-aboutMe div .myImg img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: contain;
}
.sec-aboutMe div .txt-aboutMe{
    margin-top: 30px;
    padding: 20px;
    line-height: 25px;
    text-align: center;
}
.sec-aboutMe div .txt-aboutMe strong{
    margin-bottom: 20px;
    font-size: 24px;
}

.sec-aboutMe .card-aboutMe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec-aboutMe .card-aboutMe li{
    min-width: 200px;
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--third-color);
    text-align: center;
    font-size: 16px;
    box-shadow: inset 2px 2px 5px grey;
}

@media screen and (min-width: 641px){
    .sec-aboutMe .con-aboutMe{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 40px;
    }
    .sec-aboutMe h3{
        margin: 50px 0;
    }
    .sec-aboutMe div .myImg img{
        height: 300px;
        width: 300px;
    }
    .card-aboutMe{
        margin-top: 50px;
    }
}