.sec-fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.art-fun{
    max-width: 800px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgba(252, 252, 252, 0.623);
    box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 20%);
    /* box-shadow: inset 2px 2px 5px rgb(82, 80, 80); */
}

.con-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-desc h4{
    margin: 15px 0;
    color: var(--first-color);
    font-size: 36px;
}
.con-desc p{
    text-align: center;
}
.con-desc .list-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.list-link li a{
    display: inline-block;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 20%);
}
.list-link li .link-github{
    /* position: relative; */
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.list-link li .link-github img{
    /* position: absolute;
    margin: 0 auto; */
    margin: 10px;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.list-link li .link-liveDemo{
    padding: 12px;
}
.list-link li a:hover{
    background-color: rgb(185, 212, 230);
    transform: translateY(-2px);
}