.header{
    display: none;
}

/* pc */
@media screen and (min-width: 641px) {
    /* header.header */
    .header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px 40px;
        background-color: rgba(255, 255, 255, 0.884);
        font-size: 18px;
        z-index: 100;
    }
    .header .logo{
        position: absolute; 
        /* normal-flow에 영향을 받지 않은 상태가 되었다. 그래서 크기를 키우면 해더영역을 넘어간다. */
        left: 40px;
        margin-right: 10px;
        font-family: 'Sigmar One', cursive;
        font-size: 20px;
        color: #D98BA7;
    }
    .header .list-menu{
        display: flex;
    }
    .header .list-menu li{
        margin-left: 20px;
    }
    .header .cont-mode{
        position: relative;
        font-size: 15px;
        background-color: #F2B6CC;
        padding: 5px;
        border-radius: 30px;
        margin-left: 20px;
        width: 80px;
    }
    /* display속성을 쓰면 트렌지션 효가가 적용되지 않을 때가 있다. */

    .header .btn-mode{
        border: none;
        border-radius: 20px;
        font-family: 'Luxurious Roman', cursive;
        font-size: 18px;
        font-weight: 600;
        color: #D98BA7;
        /* 원래 요소에 시간 넣기 */
        transition: transform 0.2s;
        /* transition: all 0.2s */
        cursor: pointer;
    }
    /* .header .btn-mode:hover{
        background-color: gray;
        color:rgba(255, 255, 255, 0.884);
        transform: translateX(15px);
    } */
    .mode-go{
        transform: translateX(15px);
    }

}