/* 첫번째 페이지 */
.sec-main{
    position: relative;
    height: 100vh;
    margin: 0 20px;
}
.art-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.img-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -100;
}

/* header-introduce */
.art-main .head-introduce{
    margin-top: 60px;
    line-height: 30px;
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: small;
}
.art-main .head-introduce strong{
    font-size: 35px;
    font-weight: 900;
}
/* btn, sns */
.art-main .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-down-resume{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.btn-down-resume:focus{
    outline: none;
}
.btn-down-resume:hover{
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.6);
}
.btn-down-resume::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #D98BA7;
    transition: all .5s;
    z-index: -1;
}
.btn-down-resume:hover:before{
    transform: translateY(-100%);
}

.art-main .intro .list-sns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin: 30px 0;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);
}
.art-main .intro .list-sns li{
    width: 30px;
    height: 30px;
}
.art-main .intro .list-sns li a{
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.art-main .intro .list-sns li a img{
    width: 100%;;
}
.art-main .intro .list-sns .velog{
    margin: 0 10px;
} 
.art-main .intro .list-sns li a:hover{
    transform: scale(0.9);
    filter: invert(74%) sepia(5%) saturate(3559%) hue-rotate(293deg) brightness(86%) contrast(97%);
}

/* codebox */
.intro-deco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-circle {
    padding: 10px;
    border-radius: 15px 15px 0 0;
    background-color: rgb(54, 54, 54);
}
.box-circle li{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.box-circle li:nth-child(2){
    background-color: yellow;
}
.box-circle li:nth-child(3){
    background-color: green;
}

.art-main .intro-deco .cont-codebox{
    position: relative;
    margin: 30px 20px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.art-main .intro-deco .cont-codebox div{
    width: 300px;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    color: rgb(218, 236, 191);
    font-family: 'Ubuntu Mono', monospace;
}
pre {
    display: block;
    white-space: pre-wrap;
    margin: 1em 0px;
    font-size: 11px;
    font-family: 'Ubuntu Mono', monospace;
}
pre:nth-child(6){
    line-height: 0px;
}

.box-color{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: black;
}
.box-color li{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 8px;
}
.box-color li:nth-child(1){
    background-color: #b67191;
}
.box-color li:nth-child(2){
    background-color: #D98BA7;
}
.box-color li:nth-child(3){
    background-color: #BDEDF2;
}
.box-color li:nth-child(4){
    background-color: goldenrod;
}

@media screen and (min-width: 426px){
    .sec-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .art-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin : 0;
    }
    .art-main .intro .head-introduce {
        font-size: 20px;
        margin-top: 30px;
    }
    .art-main .intro .head-introduce strong{
        font-size: 50px;
    }
    .art-main .intro .head-introduce .txt-job{
        margin-top: 50px;
    }
    .art-main .intro .head-introduce .txt-hello{
        margin-bottom: 50px;
    }
    .art-main .intro .btn-down-resume{
        font-size: 24px;
    }
    .art-main .intro .list-sns{
        margin: 60px 0 0 0;
    }
    .box-color{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-100%, 50%);
        display: flex;
        padding: 20px 10px;
        border-radius: 15px;
        background-color: black;
    }
    .art-main .intro-deco .cont-codebox div{
        width: 350px;
    }
    pre{
        font-size: 18px;
    }
}

@media screen and (min-width: 769px){
    .art-main .intro-deco .cont-codebox div{
        width: 500px;
    }
}