@charset "utf-8"; 
/* @charset "utf-8"을 넣지 않으면 seo 낮은 점수 */
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Luxurious+Roman&family=Sigmar+One&display=swap');
/* css는 css끼리! */
/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Sigmar One', cursive;*/

body{
    font-family: 'Luxurious Roman', cursive;
    background-color: #F2D8E4;
}

/* header.header */
.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* height: 70px; */
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.884);
    font-size: 18px;
}
.header .logo{
    position: absolute; 
    /* normal-flow에 영향을 받지 않은 상태가 되었다. 그래서 크기를 키우면 해더영역을 넘어간다. */
    left: 40px;
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    color: #D98BA7;
}
/* .header .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */
.header .list-menu{
    display: flex;
}
.header .list-menu li{
    margin-left: 20px;
}
.header .cont-mode{
    position: relative;
    font-size: 15px;
    background-color: #F2B6CC;
    padding: 5px;
    border-radius: 30px;
    margin-left: 20px;
    width: 80px;
}
/* display속성을 쓰면 트렌지션 효가가 적용되지 않을 때가 있다. */

.header .btn-mode{
    border: none;
    border-radius: 20px;
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #D98BA7;
    /* 원래 요소에 시간 넣기 */
    transition: transform 0.2s;
    /* transition: all 0.2s */
    cursor: pointer;
}
.header .btn-mode:hover{
    background-color: gray;
    color:rgba(255, 255, 255, 0.884);
    transform: translateX(15px);
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 512px) {
    /* mobile-navbar */
    .header{
        display: none;
    }
    
    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 10px;
    }
    .mobile-menu .cont-toggle-menu{
        display: inline-block;
        margin-right: 12.5px;
        border-radius: 50%;
        background-color: #D98BA7;
    }
    .mobile-menu .cont-toggle-menu .btn-toggle-menu{
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border: none;
        background: none;
        cursor: pointer;
    }
    .mobile-menu .cont-toggle-menu .btn-toggle-menu img:hover{
        content: url(../img/close.svg);
    }
    
    .list-toggle-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-toggle-menu li{
        margin: 5px 0;
    }
    .list-toggle-menu li .btn-menu-mode{
        width: 65px;
        height: 65px;
        border: none;
        border-radius: 50%;
        background-color: #D98BA7;
        color: #BDEDF2;
        cursor: pointer;
    }
    
    .list-toggle-menu .btn-menu{
        display: inline-block;
        width: 60px;
        padding: 15px;
        border-radius: 10px;
        color: #BDEDF2;
        background-color: #D98BA7;
        /* font-weight: 600; */
        text-align: center;
    }
    .list-toggle-menu .btn-menu:hover{
        font-weight: bold;
    }
}

.dark{
    color: rgb(179, 179, 179);
    background-color: rgb(63, 63, 63);
}

